@font-face {
    font-family: 'fuenteskyrim';
    src: url("../fuentes/skyrim.ttf");
}

@font-face {
    font-family: 'godofwar';
    src: url("../fuentes/GODOFWAR.TTF");
}

#fondo {
    background: url("../img/fondos/fondo.jpg");
    background-size: cover;
    padding: 30;
}

h1 {
    font-size: 80px;
    text-align: center;
    display: inline-block;
    font-family: 'fuenteskyrim';
}

img[alt="logo"]{
    height: 10%;
    display: inline-block;
}

main {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    column-gap: 20px;
}

.premios {
    background-color: #b1a7a7a8;
    padding: 10px;
    overflow: auto;
    border: 1px solid black;
}

.premios > img{
    width: 60px;
    height: 60px;
    margin: 8px;
    border: 1px solid black;
}

.contenedor {
    margin: auto;
}

.anuncios {
    align-items: center;
    text-align: center;
    height: 100%;
    font-size: 50px;
    font-family: 'godofwar';
    border: 1px solid black;
    background-color: #b1a7a7a8;
}

.imagenes {
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    width: auto;
    text-align: center;
}

img[alt="juego"] {
    width: 125px;
    height: 125px;
    margin: 8px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px #66CCFF;
}

.botones {
    width: 100%;
    text-align: center;
}

button {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #c5bbbb8f;
    font-family: 'fuenteskyrim', cursive;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    width: 20%;
    box-shadow: 2px 2px 5px #999;
}

button:hover {
    box-shadow: 2px 2px 5px #333;    
}

.equipamientos {
    background-color: #b1a7a7a8;
    padding: 20;
    border: 1px solid black;
}

img[alt="armas"]{
    height: 250px;
    width: 35%;
    float: right;
    margin: 10;
}

img[alt="armaduras"]{
    height: 250px;
    width: 35%;
    margin: 10;
}

img[alt="escudos"]{
    height: 250px;
    width: 35%;
    margin: 10;
}

table, th, td {
    width: 100%;
    text-align: center;
    border: 1px solid black;
}

td {
    width: 50%;
}

.progreso{
    width: auto;
    height: auto;
    background-color: #b1a7a7a8;
    padding: 10px;
    border: 1px solid black;
}

.gritos{
    height: 25%;
    border: 1px solid black;
    overflow: auto;
}

progress {
    width: 100%;
    accent-color: hsl(0, 100%, 50%);
}