@font-face {
    font-family: 'fuenteskyrim';
    src: url("../fuentes/skyrim.ttf");
}

@font-face {
    font-family: 'godofwar';
    src: url("../fuentes/GODOFWAR.TTF");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: contain;
}

.fondo {
    background: url("../img/fondos/fondo.jpg");
    padding: 10px 30px;
}

/*Cabecera*/
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12%;
    margin-bottom: 3%;
    border-radius: 45px;
    background-color: #b6b1b19f;
}

h1 {
    font-size: 70px;
    font-family: 'fuenteskyrim';
}

header > img {
    height: 100%;
}

main {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    column-gap: 20px;
    height: 75%;
    width: 99%;
}

/*Primera columna para listar premios y comprar*/
.premios {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    height: 475px;
    margin-bottom: 32px;
    overflow: auto;
    background-color: #b1a7a7a8;
    border: 1px solid black;
    border-radius: 25px;
}

.premios > img {
    width: 75%;
    height: 80px;
    margin: 8px;
    border: 1px solid black;
}

.premios > h2 {
    grid-column-start: span 4;
    text-align: center;
}

.progreso{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 25.5%;
    padding: 10px;
    background-color: #b1a7a7a8;
    border-radius: 25px;
    border: 1px solid black;
}

progress {
    width: 100%;
    accent-color: hsl(0, 100%, 50%);
}

table, th, td {
    width: 100%;
    text-align: center;
    border: 1px solid black;
}

td {
    width: 50%;
}

/*Segunda columna para jugar y anunciar resultado*/
.imagenes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.imagenes > img {
    width: 125px;
    height: 125px;
    margin: 8px;
    background-color: #b1a7a791;
    border: 1px solid black;
    box-shadow: 2px 2px 5px #66CCFF;
}

.botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
}

button {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    width: 20%;
    font-family: 'fuenteskyrim', cursive;
    font-size: 30px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #c5bbbb8f;
    box-shadow: 3px 3px 6px #999;
}

button:hover {
    background-color: #9791918f;
    box-shadow: 3px 3px 6px #2b2a2a;    
}

.anuncios {
    height: 59%;
    margin-top: 50px;
    padding-top: 10%;
    font-family: 'godofwar';
    font-size: 50px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid black;
    background-color: #b1a7a7a8;
}

/*Tercera columna para la mejora del personaje*/
.contenedor{
    padding-right: 30px;
}

.equipamientos {
    grid-template-columns: repeat(2, 50%);
    justify-content: space-evenly;
    padding: 20px;
    background-color: #b1a7a7a8;
    border: 1px solid black;
    border-radius: 25px;
}

.equipamientos > img{
    height: 250px;
    width: 47.5%;
    display: inline-block;
}

.gritos{
    grid-column-start: span 2;
    width: 100%;
    height: 150px;
    margin-top: 5%;
    overflow: auto;
    border: 1px solid black;
}