h1, h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
}
.borrar-mensaje,
.borrar-mensaje:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}
.editar-mensaje,
.editar-mensaje:hover {
    float: right;
    cursor: pointer;
    font-weight: bold;
}

.mensaje{
    display: grid;
    grid-template-columns: 70% auto auto; 
}

.button.u-full-width.button-primary.bloqueo,
.button.u-full-width.button-primary.bloqueo:hover {
    background-color: red;
    pointer-events: none;
    cursor: not-allowed;
}

.error {
    background-color: red;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}
